body {
    padding-top: 5rem;
}

#message{
    padding: 12px 50px;
    list-style-type: none;
    background-color: #d4edda;
}

#error{
    padding: 12px 50px;
    list-style-type: none;
    background-color: #f8d7da;
}
